@font-face {
    font-family: 'Tuladha Jejeg';
    src: local("ꦲꦤꦕꦫꦏ"), 
         url('https://subandoro.github.io/aksara/ngayogyan2022.eot'),
         url('https://subandoro.github.io/aksara/ngayogyan2022.eot?#iefix') format('embedded-opentype'),
         url('https://subandoro.github.io/aksara/ngayogyan2022.woff') format('woff'),
         url('https://subandoro.github.io/aksara/ngayogyan2022.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#prev_label{
    font-family: 'Noto Sans Javanese, Tuladha Jejeg';
}
.gb, .main_ta, .tb{
    font-family: 'Noto Sans Javanese, Tuladha Jejeg';
}
