@font-family: 'Noto Sans';
    src: url('https://subandoro.github.io/aksara/noto2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#prev_label{
    font-family: 'Noto Sans';
}
.gb, .tb, .jw{
    font-family: 'Noto Sans';
}
