@font-face {
  font-family: 'nyk Ngayogyan New Italic';
  src: local("ꦲꦤꦕꦫꦏ"),
    url('nyk Ngayogyan New Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.main_ta {
  font-family: 'nyk Ngayogyan New Italic';
}
.tb {
  font-family: 'nyk Ngayogyan New Italic';
}
.gb {
  font-family: 'nyk Ngayogyan New Italic';
}
