@font-face {
    font-family: 'Tuladha Jejeg';
    src: local("ꦲꦤꦕꦫꦏ"), 
         url('https://subandoro.github.io/aksara/.eot'),
         url('http://bits.wikimedia.org/static-1.22wmf8/extensions/UniversalLanguageSelector/data/fontrepo/fonts/TuladhaJejeg/TuladhaJejeg_gr.eot?#iefix') format('embedded-opentype'),
         url('http://bits.wikimedia.org/static-1.22wmf8/extensions/UniversalLanguageSelector/data/fontrepo/fonts/TuladhaJejeg/TuladhaJejeg_gr.woff') format('woff'),
         url('http://bits.wikimedia.org/static-1.22wmf8/extensions/UniversalLanguageSelector/data/fontrepo/fonts/TuladhaJejeg/TuladhaJejeg_gr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#prev_label{
    font-family: 'Noto Sans Javanese, Tuladha Jejeg';
    line-height: 3em;
}
.gb, .main_ta, .tb{
    font-family: 'Noto Sans Javanese, Tuladha Jejeg';
}
