@font-face {
    font-family: 'Javaholic';
    src: local("ꦲꦤꦕꦫꦏ"),
         url('https://subandoro.github.io/aksara/CARAKAN.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#prev_label{
    font-family: 'Javaholic';
}
.gb, .tb, .jw{
    font-family: 'Javaholic';
}
