@font-face {
    font-family: 'Noto Sans Javanese';
    src: local("ꦲꦤꦕꦫꦏ"),
         url('noto2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.jw {
    font-family: 'Noto Sans Javanese';
}
